#navbarmain{
    color: white;
}
#Premium_outlets{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    border-style: solid white 3px;
    text-shadow: 10px 8px 8px white;
}
#a:hover{
  text-decoration: underline white 3px;
}
#loginbody{
   
}
#shoesGif{
    height: 120px;

}
#loginlogo{
    font-size: 60px;
    max-width: max-content;
    margin-top: 0%;
    font-family: 'Times New Roman', Times, serif;
}
#shoesgeneric{
    height: 600px;
    margin-right: 0;
    -webkit-box-reflect: below;
}
#paraGraphSlogan{
    margin-top:25rem ;
    margin-left: 15px;
    word-spacing: none;
}
#fuelYourgame{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-style: italic;
}
#Formlogin{
    max-width: max-content;
    max-height: max-content;
    backdrop-filter: blur(10px);
}
#shoes_men1{
    max-height: fit-content;
    margin-bottom: 20px;
   
}
#shoes_men2{
    height: 400px;
    margin-bottom: 20px;
    
}
#shoes_men3{
    height: 400px;
    margin-bottom: 20px;
    
}
#shoes_men4{
    height: 400px;
    margin-bottom: 20px;
    
}
#shoes_men5{
    height: 400px;
    margin-bottom: 20px;
    
}
#shoes_men6{
    height: 400px;
    margin-bottom: 20px;
    
}
#firstDiv{
    margin-bottom: 125px;
    justify-content: center;
}
#navbarmain li:hover{
    text-decoration: underline yellow 3px;
}